extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/timbre.js')
  script.
    window.SOCKET_IO_SERVER_ADDRESS = #{socketIoServerAddr}
  script(src='/javascripts/client.js')
